.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hand-hero {
  animation: MoveUpDown 1.5s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

p {
  font-size: medium;
}
